<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Detail</h1>
    <a href="{% url "articles:edit" article.pk %}">수정</a>
    <h2>{{article.pk}}번 게시글입니다.</h2>
    <h3>{{article.title}}</h3>
    <h4>{{article.content}}</h4>
    <h5>{{article.created_at}}</h5>
    <h5>{{article.updated_at}}</h5>
    <hr>
    <form action="{% url "articles:delete" article.pk%}" method="post">
        {% csrf_token %}
        <input type="submit" value="삭제">
    </form>
    <a href="{% url "articles:read" %}">[back]</a>

</body>
</html>