{% extends 'base.html' %}

{% block content %}
  <h1>책 상세 정보</h1>
  <p>등록 번호 : {{ book.pk }}</p>
  <p>제목 : {{ book.title }}</p>
  <p>설명 : {{ book.description }}</p>
  <hr>
  <h3>리뷰 등록</h3>
  {% if user.username %}
  <form action="{% url 'libraries:create_reviews' book.pk %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="리뷰 작성성">
  </form>
  {% else %}
  <p>로그인 후 작성해주세요.</p>
  {% endif %}
  <hr>
  <h2>리뷰 전체 목록</h2>
  <ul>
    {% for review in reviews %}
      <li>{{review.user}} - {{review.content}}</li>
      {% if request.user == review.user %}
      <form action="{% url 'libraries:delete_reviews' book.pk review.pk %}" method="post">
        {% csrf_token %}
        <input type="submit" value="리뷰 삭제">
      </form>
      {% endif %}
    {% endfor %}
  </ul>
  <a href="{% url 'libraries:index' %}">[Back]</a>
{% endblock content %}